@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

html{
    font-size: 16px;
}

body{
    font-family: 'playfair Display', sans-serif;
    max-width: 80rem;
    background-color: #99170396;
    color: #3C4054;
    line-height: 1.5;
    margin: 3rem auto;
}

section{
    margin: 9.25rem auto;
    display: grid;
    grid-template-columns: repeat (12, 1fr);
    grid-column-gap: 1.5rem;
    grid-auto-flow: dense;
    padding: 1rem;
    border: dotted #99170396;
    border-width: 1rem;
}

header{
    margin: 3rem;
    font-family: 'playfair Display', sans-serif;
    display: flex;
    align-items: left;
    background-color: #d6f9db;
    justify-content: space-around;
}

h1,
nav {
    color: #3C4054;
    font-size: 9rem;
    font-style: normal;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h2{
    color: #3C4054;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
}

a{ 
    color:#3C4054;
    text-decoration: none;
    margin: 0 0 0 2rem;
}

a h2:hover{ 
    color: #EEB079;
}


a h2:visited{
    color: #EEB079;
}

nav{
    margin: 0;
    font-family: 'playfair Display', sans-serif;
}


main{
    margin: 0;
    font-family: 'playfair Display', sans-serif;

}

footer{
    font-family: 'playfair Display', sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    color: #EADFAF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:auto;
    height: 4rem;
    margin: auto;
    background-color: #d6f9db;
}

#splashlogo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    border-width: 4rem;
    border-color:  #d6f9db;
}

.selected{
    color: #ea9c5893;
}

#byline{
    text-align: center;
    grid-column: 2/6;
}

#project1{
    align-items: center;
    grid-column: 7/12;
}

#description1{
    align-items: center;
    grid-column: 2/10;
}

#project2{
    align-items: center;
    grid-column-start: 2;
}


#description2{
    align-items: right;
}

#project3A{
    align-items: left;
    grid-column: 6/12;
}

#description3{
    align-items: left;
    grid-column: 24/20;
    text-align: left;
}

#description4{
    align-items: left;
    grid-column: 4/12;
}

#project4{
    align-items: center;
    grid-column: 12/24;
}

img{
    max-width: 100%;
    max-height: 800px;
}

#bio{
   display: flex;
   align-items: center;
   justify-content: space-between;
}