@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

html{
    font-size: 16px;
}

body{
    font-family: 'playfair Display', sans-serif;
    max-width: 90rem;
    background-color: #d6f9db;
    color: #3C4054;
    line-height: 1.5;
    margin: 3rem auto;
    grid-template-columns: repeat (12, 1fr);
}

section{
    margin: 9.25rem auto;
    display: grid;
    grid-template-columns: repeat (12, 1fr);
    grid-column-gap: 1.5rem;
    grid-auto-flow: dense;
    padding: 1rem;
    border: dotted #3C4054;
    border-width: .5rem;
    justify-content: center;
}

#TT{
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.tt{
    justify-content: space-around;
}

section h1{
    border: dotted #3C4054;
}

header{
    margin: 3rem;
    font-family: 'playfair Display', sans-serif;
    display: flex;
    align-items: left;
    background-color: #99170396;
    justify-content: space-around;
    padding: 1rem;
    border: dotted;
    border-width: 1rem;
    border-color: #3C4054;
}

h1{
    color: #3C4054;
    font-size: 6rem;
    font-style: normal;
    font-weight: 700;


}

nav {
    color: #3C4054;
    font-size: 8rem;
    font-style: normal;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h2{
    color: #3C4054;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
}

a{ 
    color:#3C4054;
    text-decoration: none;
    margin: 0 0 0 2rem;
}

a h2:hover{ 
    color: #d6f9db;
}

nav{
    margin: 0;
    font-family: 'playfair Display', sans-serif;
}


main{
    margin: 0;
    font-family: 'playfair Display', sans-serif;
}


#splashlogo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    border-width: 4rem;
    border-color:  #99170396;
}

.selected{
    color: #ea9c5893;
}

section .textright {
    text-align: right;
}

#byline{
    text-align: center;
    grid-column: 2/6;
}

#project1{
    align-items: center;
    grid-column: 7/12;
    grid-row-start: 1.5;
    align-self: baseline;
    background-color: #99170396;
    padding: 1rem;
    margin-top: 1rem;
}

#title1{
    align-items: left;
    grid-column: 1/6;
    grid-row: 1/2;
}

#description1 h2{
    text-align: center;
    grid-row-start: 2;
    grid-column: 2/10;
}

#project2{
    align-items: center;
    grid-column-start: 2;
    background-color: #99170396;
    padding: 1rem;
    margin-top: 1rem;
}


#description2{
    align-items: right;
}

#project3A{
    align-items: center;
    justify-content: space-evenly;
    background-color: #99170396;
    padding: 1rem;
    margin-top: 1rem;
}

#description3 h1{
    grid-column: 24/20;
    text-align: right;
}

#description3 h2{
    grid-column: 24/20;
    text-align: right;
}

#description4{
    text-align: left;
    grid-column: 3/10;
}

#description4 h1, h2 {
    text-align: left;
}



#project4{
    align-items: center;
    grid-column: 6/11;
    background-color: #99170396;
    padding: 1rem;
    margin-top: 1rem;
}

#project5{
    grid-column-start: 6;
}

img{
    max-width: 100%;
    max-height: 800px;
}


#bio{
    display: flex;
    grid-column: 20% 20% 20% 20% 20%;
    grid-column-start: 3;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}


.rowgrid {
    margin: 9.25rem auto;
    display: grid;
    grid-template-columns: repeat (12, 1fr);
    grid-template-rows: 50% 50%;
    grid-column-gap: 1.5rem;
    grid-auto-flow: dense;
    padding: 1rem;
    border: dotted #3C4054;
    border-width: .5rem;
}

#flo1{
    grid-column: 1/4;
    grid-row: 1/2;
    background-color: #99170396;
    padding: 1rem;
    margin-top: 1rem;
}

#flo2{
    grid-column: 4/7; 
    grid-row: 1/2;
    background-color: #99170396;
    padding: 1rem;
    margin-top: 1rem;
}

#flo3{
    grid-column: 7/11;
    grid-row: 1/2;
    background-color: #99170396;
    padding: 1rem;
    margin-top: 1rem;
}

#PHtitle {
    grid-row: 2/3; 
    grid-column: 2/10; 
    margin-bottom: 2rem;
}


footer{
    font-family: 'playfair Display', sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    color: #EADFAF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:auto;
    height: 4rem;
    margin: auto;
    background-color: #99170396;
    padding: 1rem;
    border: dotted;
    border-width: .5rem;
    border-color: #3C4054;
}